
.recent_comments ul li {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */

	margin: 10px 0 20px 0;
	list-style: none;
	}

/*Compensating for the <p> tag output with the message JSON*/
.recent_comments ul li p{
	margin: 5px 0 !important;
}

.recent_comments .thread_title{
	font-size: 14px;

}

.recent_comments .author_date{
}